<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!--<div class "container">
  <div class="row-10">
    <div class="col-sm-4">
  <div class="sidebar-nav">
    <div class="navbar-default" role ="navigation"></div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav">
        <h3>Admin Pannel</h3>
          <p><a href=" #/city"><i class="fa fa-shield"> Upload City</i></a></p>
          <p><a href=" #/theatre"><i class="fa fa-shield"></i> Upload Theatre</a></p>
          <p><a href=" #/movie"><i class="fa fa-shield"></i> Upload Movies</a></p>
          <p><a href=" #/showtime"><i class="fa fa-shield"></i> Showtime</a></p>
          <p><a href=" #/assign"><i class="fa fa-shield"></i> Assign Movies</a></p>
        </ul>
  </div>
</div>
</div>
</div>
</div>-->
<div ng-view></div>


</body>

<!--<div class="container">
<div class="row-10">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Upload movies</a></li>
            <li><a href="#">Upload City</a></li>
            <li><a href="#">Upload theatres</a></li>
            <li><a href="#">Upload ShowTime</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Ticket Prices</a></li>
            <li><a href="#">Movie Trailer</a></li>
            <li><a href="#">Rating</a></li>
            <li><a href="#">Upcoming Movies</a></li>
            <li><a href="#">Reviews</a></li>





          </ul>
        </div><!--/.nav-collapse -->
      </div>

  </div>
  </div>
</div>
