<br><br><br><br><br><br>
<div  class="container">
    <h4 font wight:"bold" >THANKS FOR VISITING US </h4>
      <div class="col-sm-12">
        <div class="well well-sm">
        <div >

            <img src="img/last1.jpg" height="200px" width="200px">
            <img src="img/last2.jpg" height="200px" width="200px">
            <img src="img/last7.jpg" height="200px" width="200px">
            <img src="img/last6.jpg" height="200px" width="200px">
            <img src="img/last4.jpg" height="200px" width="200px">
            <img src="img/last8.jpg" height="200px" width="200px">
            <img src="img/last9.jpg" height="200px" width="200px">

            <img src="img/last22.jpg" height="200px" width="200px">
            <img src="img/last33.jpg" height="200px" width="200px">
            <img src="img/last55.jpg" height="200px" width="200px">
            <img src="img/last66.jpg" height="200px" width="200px">
            <img src="img/last77.jpg" height="200px" width="200px">
            <img src="img/last440.jpg" height="200px" width="200px">







  </div>
