
<br><br><br>

<div class="container"  >
  <h3> SELECT YOUR TICKET</h3><br><br>

  <label>SELECT CLASS</label>
  <select id="selectClass" class="selectpicker selectClass claculate" data-rule-requried="true" >
    <option value="">SELECT</option>
    <option value="250">Gold -Rs250/-</option>
    <option value="120">Silver-Rs120/-</option>
  </select>

  <label>Select No of seats</label>
  <select id="selectSeats" class="selectpicker selectSeats calculate" data-rule-requried="true" >
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select><br><br>

<br>
  <center>
    <div class="container" >
      <div class="col-xs-7 well">
      <div class="gold" id ="gold">
        <div class="rowA" id="rowA">
          <form id="RowA" name="RowA" >
            <h4>GOLD</h4>
            <input type="checkbox" class="gldCls" value="A1">A1</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A2"> A2</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A3"> A3</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A4"> A4</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A5">A5</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A6">A6</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A7">A7</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" class="gldCls" value="A8"> A8</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A9"> A9</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A10">A10</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A11">A11</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A12"> A12</input>&nbsp;
            <input type="checkbox" class="gldCls" value="A13"> A13</input>&nbsp;
          </form>
        </div>

        <div class="rowB" id="rowB">
          <input type="checkbox" class="gldCls" value="B1"> B1</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B2"> B2</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B3"> B3</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B4"> B4</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B5"> B5</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B6"> B6</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B7"> B7</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B8"> B8</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B9"> B9</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B10"> B10</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B11"> B11</input>&nbsp;
          <input type="checkbox" class="gldCls" value="B12"> B12</input>&nbsp;
        </div>

        <div class="rowC" id="rowC">
          <input type="checkbox" class="gldCls" value="C1"> C1</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C2"> C2</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C3"> C3</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C4"> C4</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C5"> C5</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C6"> C6</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="gldCls" value="C7"> C7</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C8"> C8</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C9"> C9</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C10"> C10</input>&nbsp;
          <input type="checkbox" class="gldCls" value="C11"> C11</input>&nbsp;
        </div>
		</div>


<hr class="line">

	<div class="gold" id ="gold">
        <div class="rowD" id="rowD">
          <h4>SILVER</h5>
          <input type="checkbox" class="slrCls" value="D1"> D1</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D2"> D2</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D3"> D3</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D4"> D4</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D5"> D5</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D6"> D6</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D7"> D7</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D8"> D8</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D9"> D19</input>&nbsp;
          <input type="checkbox" class="slrCls" value="D10"> D10</input>&nbsp;
        </div>

        <div class="rowE" id="rowE">
          <input type="checkbox" class="slrCls" value="E1"> E1</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E2"> E2</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E3"> E3</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E4"> E4</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E5"> E5</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E6"> E6</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E7"> E7</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E8"> E8</input>&nbsp;
          <input type="checkbox" class="slrCls" value="E9"> E9</input>&nbsp;
        </div>

        <div class="rowF" id="rowF">
          <input type="checkbox" class="slrCls" value="F1"> F1</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F2"> F2</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F3"> F3</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F4"> F4</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F5"> F5</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F6"> F6</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F7"> F7</input>&nbsp;
          <input type="checkbox" class="slrCls" value="F8"> F8</input>&nbsp;
        </div>

        <div class="rowG" id="rowG">
          <input type="checkbox" class="slrCls" value="G1"> G1</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G2"> G2</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G3"> G3</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G4"> G4</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G5"> G5</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G6"> G6</input>&nbsp;
          <input type="checkbox" class="slrCls" value="G7"> G7</input>&nbsp;
        </div>
	</div>

<br>
	<!--<div class="screen">
	<img src="img/screen.jpg" class="img-responsive" alt="screen ">
</div>-->
</div>




        <div class="col-sm-5">

          <div >
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                <th>class</th>
                <th>No.of Seats</th>
                <th>Total Amount</th>
              </tr>
            </thead>


          <td><textarea id="seatCls" disabled="disabled"></textarea></td>
          <td><textarea id="noOFSeats" disabled="disabled"></textarea></td>
          <td><textarea id="totalAmount" disabled="disabled"></textarea></td>



</table>
    </div>
  </div>
  <a ng-click="setShow()" href="#/paymentdetail" class="button-color btn btn-success" role="button" >Proceed</a>
    </div>

</div>

</div>
</div>
